<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>会議の音声を録音するためにマイクを使用します。</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>会議アプリなどの音声を録音するためにシステム音声を収録します。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>録音した音声を文字起こしするために音声認識を使用します。</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>会議の予定を検出して録音開始をお知らせするためにカレンダーへのアクセスを使用します。</string>
</dict>
</plist>
